.btn-save {
    background-color: #4CAF50;
    color: white;
}

.btn-cancel {
    background-color: #f0ad4e;
    color: white;
}
a{
    text-decoration: none;
}

@media (max-width: 768px) {
    .col-4, .col-8 {
        width: 100% !important;
    }
}
